<!doctype html>
<html lang="en">

<head>
  <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon505.ico' />
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/w3.css">
  <link rel="stylesheet" href="static/style-home.css?1003">

  <link rel="stylesheet" href="static/bootstrap.min.css">
  <!--integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"-->
  
  
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

  <!-- CHANGE BEFORE PRODUCTION  SOCIAL MEDIA -->
  <meta property="og:title" content="Covid-bot">
  <meta property="og:description" content="AI powered chatbot that answers all your questions about COVID-19.">
  <meta property="og:image" content="https://github.com/waelmas/covid-bot/blob/master/static/img/COVID-bot.png?raw=true">
  <meta property="og:url" content="https://covid-bot.com/">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->

  <meta property="og:site_name" content="COVID-BOT by Innaton Technologies Ltd.">

  <!-- END SOCIAL MEDIA -->





 

  





  <script defer src="static/solid.js"></script>
  <script defer src="static/fontawesome.js" ></script>
  <title>COVID-BOT V0.5</title>
</head>

<body class="main-surface">

  <div id="gen-chat" class="w3-container w3-center">
    <!-- Title-->

    <nav id="sidebar">
      <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
      </div>

      <div class="sidebar-header">
        <h3><a style="color: white;" href="/">COVID-bot</a></h3>
      </div>

      <ul class="list-unstyled components">


        <li>
          <a href="https://covid-bot.com/">Home</a>
        </li>
        


        <li>
          <a href="https://github.com/waelmas/covid-bot">Embed COVID-bot</a>
        </li>
        <li>
            <a href="https://covid-bot.tumblr.com/">Latest News</a>
          </li>
        <li>
            <a href="https://covid-bot.com/privacy">Privacy Policy</a>
          </li>
          <li>
            <a href="https://covid-bot.com/cookies">Cookies Policy</a>
          </li>
        <li>
                            <a href="https://www.gofundme.com/your-covid19-personal-assistant" target="_blank">Support Us</a>
                        </li>
 

      </ul>

    </nav>
    <!-- END of buttons bar -->
  </div>
        <!-- Chat box -->
        <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-custom" style="background-color: #7441e9;">
                        <i class="fas fa-align-left"></i>
                       
                    </button>
                    
                  
                </div>
            </nav>
 


                


            

                <br>
                  
                <div  style="background-color: #F2F3F5;">
                <h1 class="section-header">COOKIE POLICY</h1>
                <div class="section1 w3-panel">
            

<p class="paragraph-left">Our website uses cookies. Below, we inform you about the use of cookies on our website. </p><br><br>


        </div>
                </div>


<div class="w3-panel"></div>
        <br>
                  
        <div  style="background-color: #ffffff;">
            <h1 class="section-header">1. WHAT ARE COOKIES</h1>
            <div class="section1 w3-panel">
        

<p class="paragraph-left">Cookies are small text files that are stored on your browser or the hard drive of your computer. They enable our website to remember users that have already visited. Without cookies, every time you open our website, the server where our page is stored will treat you like a completely new visitor. </p>


    </div>
            </div>


<div class="w3-panel"></div>
    <br>

    <div  style="background-color: #ffffff;">
        <h1 class="section-header">2. WE USE THE FOLLOWING COOKIES:</h1>
        <div class="section1 w3-panel">
    

            <p class="paragraph-left"><h5>Strictly necessary cookies: </h5>
                These are cookies that are essential for the functionality of the website and cannot be disabled by users. Essential cookies do things like
                -	Remember the session ID to return the correct answer to you.
                -	Remember the notifications you have seen and progress you have made so we do not need to show them to you again.
                They always need to be on.
                </p>
            <p class="paragraph-left"><h5>Analytical/Performance cookies: </h5>
                They allow us to recognize and count the number of visitors and to see how visitors move around Our Site when they are using it. This helps us to improve the way the Site works, for example, by ensuring that users are finding what they are looking for easily.
                They are not essential to its use. They are used to enhance the performance and functionality of a website. However, without these cookies, certain functions (like videos) may become unavailable.
                These cookies are used to collect information to analyze the traffic to our website and how visitors are using our website.
                For example, these cookies may track things such as how long you spend on the website or the pages you visit which helps us to understand how we can improve our website site for you.
                The information collected through these tracking and performance cookies do not identify any individual visitor.
                Analytics – track user activity so that website owners can better understand how their site is being accessed and used.
                </p>
            <p class="paragraph-left"><h5>Functionality cookies: </h5>
                These are used to recognize you when your return to the Site. This enables us to personalize our content for you, greet you by name and remember your preferences (for example, your choice of language or region).
                These cookies are used to provide you with a more personalized experience on our website and to remember choices you make when you use our website.
                For example, we may use functionality cookies to remember your language preferences or remember your login details.
                </p>
            <p class="paragraph-left"><h5>Targeting cookies: </h5>
                These cookies are used to show advertising that is likely to be of interest to you based on your browsing habits.
                These cookies, as served by our content and/or advertising providers, may combine information they collected from our website with other information they have independently collected relating to your web browser's activities across their network of websites.
                If you choose to remove or disable these targeting or advertising cookies, you will still see adverts but they may not be relevant to you.
                </p>
            <p class="paragraph-left"><h5>Third party cookies: </h5> 
                These cookies allow our COVID-bot to interact with trustworthy sources.
                These sources collect their own cookies from you. We do not control these third-party cookies and we are not responsible for their privacy statements.</p>
            

</div>
        </div>


<div class="w3-panel"></div>
<br>

<div  style="background-color: #ffffff;">
    <h1 class="section-header">3. IP addresses</h1>
    <div class="section1 w3-panel">


        <p class="paragraph-left">When you visit our website, we collect your Internet Protocol (“IP”) addresses to track and aggregate non-Personal Information.
            For example, we use IP addresses to monitor the regions from which users navigate the website.
            IP addresses will be stored in such a way so that you cannot be identified from the IP address.</p>
        


</div>
    </div>


<div class="w3-panel"></div>
<br>
                  
<div  style="background-color: #ffffff;">
    <h1 class="section-header">4. DISABLING COOKIES </h1>
    <div class="section1 w3-panel">


        <p class="paragraph-left">You may delete and block cookies from this website at any time, by changing the settings in your web browser. 
            However, if you use your browser settings to block all cookies you may not be able to access all or parts of this website. 
            </p>

</div>
    </div>


<div class="w3-panel"></div>
<br>


<div  style="background-color: #ffffff;">
    <h1 class="section-header">5. MORE INFORMATION ABOUT COOKIES:</h1>
    <div class="section1 w3-panel">

     

    <p class="paragraph-left"> <a ref="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a> and <a ref="http://www.youronlinechoices.eu" target="_blank">http://www.youronlinechoices.eu</a>

        For any questions about our cookies policy, please contact us at info@covid-bot.com 
        </p>


</div>
    </div>


    <div class="w3-panel"></div>
    <br>
    
    

    
           
                  
<footer class="footer-distributed">
        
    <div class="footer-left">

        <h3>Covid-bot</h3>

        <p class="footer-links">
            <a href="/" class="link-1">Home</a>
            
            <a href="https://www.gofundme.com/your-covid19-personal-assistant" target="_blank">Support Us</a>
        
            <a href="/privacy">Privacy Policy</a>
            <a href="/cookies">Cookies Policy</a>
        </p>

        <p class="footer-company-name">Innaton Technologies Ltd. © 2020</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>Virtual due to COVID-19 outbreak</p>
        </div>

     

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:info@covid-bot.com">info@covid-bot.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Covid-bot</span>
            AI powered chatbot that answers all COVID-19 questions.
        </p>

        <div class="footer-icons">

      <!--    <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a> -->

        </div>

    </div>

</footer>        
<!-- End of footer -->


<div class="bgoverlay"></div>

<!-- Import extra JS -->

<script src="static/jquery.min.js"></script>
<!-- Popper.JS integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous" -->
<script src="static/popper.min.js" ></script>
<!-- Bootstrap JS integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"  crossorigin="anonymous"-->
<script src="static/bootstrap.min.js" ></script>
<!-- jQuery Custom Scroller CDN -->
<script src="static/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- /Import JS code -->

<!-- Extra custom JS code -->
<script src="static/home.js?1002"></script>
                 
                  
                  
      
       
   

    <script type="text/javascript">


        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .bgoverlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.bgoverlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.bgoverlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>



</body>

</html>

