<!doctype html>
<html lang="en">

<head>
  <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon505.ico' />
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/w3.css">
  <link rel="stylesheet" href="static/style-home.css?1003">

  <link rel="stylesheet" href="static/bootstrap.min.css">
  <!--integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"-->
  
  
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

  <!-- CHANGE BEFORE PRODUCTION  SOCIAL MEDIA -->
  <meta property="og:title" content="Covid-bot">
  <meta property="og:description" content="AI powered chatbot that answers all your questions about COVID-19.">
  <meta property="og:image" content="https://github.com/waelmas/covid-bot/blob/master/static/img/COVID-bot.png?raw=true">
  <meta property="og:url" content="https://covid-bot.com/">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->

  <meta property="og:site_name" content="COVID-BOT by Innaton Technologies Ltd.">

  <!-- END SOCIAL MEDIA -->





 

  






  <script defer src="static/solid.js"></script>
  <script defer src="static/fontawesome.js" ></script>
  <title>COVID-BOT V0.5</title>
</head>

<body class="main-surface">

  <div id="gen-chat" class="w3-container w3-center">
    <!-- Title-->

    <nav id="sidebar">
      <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
      </div>

      <div class="sidebar-header">
        <h3><a style="color: white;" href="/">COVID-bot</a></h3>
      </div>

      <ul class="list-unstyled components">


        <li>
          <a href="https://covid-bot.com/">Home</a>
        </li>
      



        <li>
          <a href="https://github.com/waelmas/covid-bot">Embed COVID-bot</a>
        </li>
        <li>
            <a href="https://covid-bot.tumblr.com/">Latest News</a>
          </li>
        <li>
            <a href="https://covid-bot.com/privacy">Privacy Policy</a>
          </li>
          <li>
            <a href="https://covid-bot.com/cookies">Cookies Policy</a>
          </li>
        <li>
                            <a href="https://www.gofundme.com/your-covid19-personal-assistant" target="_blank">Support Us</a>
                        </li>
 

      </ul>

    </nav>
    <!-- END of buttons bar -->
  </div>
        <!-- Chat box -->
        <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-custom" style="background-color: #7441e9;">
                        <i class="fas fa-align-left"></i>
                       
                    </button>
                    
                  
                </div>
            </nav>
 


                


            

                <br>
                  
                <div  style="background-color: #F2F3F5;">
                <h1 class="section-header">PRIVACY POLICY</h1>
                <div class="section1 w3-panel">
            

<p class="paragraph-left">Data protection and security of the visitors to our chat-bot are of utmost importance for us. </p><br><br>
<h2>PURPOSE OF THE PRIVACY POLICY</h2>  <p class="paragraph-left">The purpose of this Privacy Policy is to explain what personal data we collect from you when you visit our website, how we look after your personal data, your privacy rights and how the law protects you.</p>
<br>
<h2>PERSONAL DATA</h2> <p class="paragraph-left">When we refer to ‘personal data’ in this Policy, we mean information that relates to you. </p>

        </div>
                </div>


<div class="w3-panel"></div>
        <br>
                  
        <div  style="background-color: #ffffff;">
            <h1 class="section-header">1. CONTROLLER</h1>
            <div class="section1 w3-panel">
        

<p class="paragraph-left">The data controller for personal data collected through this chat-bot is Innaton Technologies Ltd., a company established in Cyprus with registration number 387784 and registered office at Modestou Panteli, 4, Egkomi, Nicosia, Cyprus. We act as a data controller for all personal data collected through our website.</p>


    </div>
            </div>


<div class="w3-panel"></div>
    <br>

    <div  style="background-color: #ffffff;">
        <h1 class="section-header">2. THE DATA WE COLLECT ABOUT YOU</h1>
        <div class="section1 w3-panel">
    

            <p class="paragraph-left">Technical Data- We automatically collect these data when you visit our chat-bot. We collect your internet protocol (IP) address, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform and other technology on the devices you use to access this chat-bot.</p>
            <p class="paragraph-left">Interaction content - Any data resulted from your interaction with the chat-bot.</p>
            <p class="paragraph-left">Usage data – Includes information about how you use our chat-bot and services.</p>

</div>
        </div>


<div class="w3-panel"></div>
<br>

<div  style="background-color: #ffffff;">
    <h1 class="section-header">3. HOW IS YOUR PERSONAL DATA COLLECTED</h1>
    <div class="section1 w3-panel">


        <p class="paragraph-left">As you interact with our chat-bot, we automatically collect technical Data. We collect these data through your interactions with the chat-bot and through cookies. Please see our <a href="/cookies" target="_blank">Cookies Policy</a> for further details.</p>
        


</div>
    </div>


<div class="w3-panel"></div>
<br>
                  
<div  style="background-color: #ffffff;">
    <h1 class="section-header">4. HOW WE USE YOUR PERSONAL DATA</h1>
    <div class="section1 w3-panel">


        <p class="paragraph-left">We only use your personal data when the law allows us to. 
            Data are collected to ensure the proper functioning and the improving of the services provided by the chat-bot. Other data can be used to analyze how visitors use the website.
            Technical data – To improve the services provided by our chat-bot
            Interaction content - are stored and used for improving the services provided by the chat-bot.
            </p>

</div>
    </div>


<div class="w3-panel"></div>
<br>


<div  style="background-color: #ffffff;">
    <h1 class="section-header">5. COOKIES</h1>
    <div class="section1 w3-panel">


        <p class="paragraph-left">Our chat-bot uses cookies. You can find more information about the cookies we use in our <a href="/cookies" target="_blank">Cookies Policy</a>.</p>
        <p class="paragraph-left">You can set your browser to refuse all or some browser cookies. However, if you disable or refuse cookies, some parts of this chat-bot may become inaccessible or not function properly.</p>


</div>
    </div>


    <div class="w3-panel"></div>
    <br>
    
    <div  style="background-color: #ffffff;">
        <h1 class="section-header">6. RETAINING AND SECURING DATA</h1>
        <div class="section1 w3-panel">
    
    
            <p class="paragraph-left">Data that we process for any purpose shall not be kept for longer than is necessary for that purpose. 
                In cases when it is not possible for us to specify in advance the periods for which your data will be retained, we will keep your data not longer than reasonably and physically necessary.
                We will take appropriate technical and organizational precautions to secure your data and to prevent the loss, misuse or alteration of your data.
                We will store all your data on secure servers.
                </p>
            
    
    
    </div>
        </div>
        <div class="w3-panel"></div>
        <br>
        
        <div  style="background-color: #ffffff;">
            <h1 class="section-header">7. DATA SHARING</h1>
            <div class="section1 w3-panel">
        
        
                <p class="paragraph-left">The information we collect from you is stored in our database and we may share them with:
                    Local authorities, companies, organizations or research centers solely for the purpose of helping with to combat Covid-19 outbreak.
                    </p>
                
        
        
        </div>
            </div>
            <div class="w3-panel"></div>
            <br>
            
            <div  style="background-color: #ffffff;">
                <h1 class="section-header">8. AMENDMENTS TO THE PRIVACY POLICY</h1>
                <div class="section1 w3-panel">
            
            
                    <p class="paragraph-left">We keep our privacy policy under regular review. We may modify our Privacy Policy when there is a change to the way we process your data or to ensure that the information we provide to you is up to date and in accordance with the relevant data protection laws. We will notify you of the changes to our Privacy Policy. Any new version of this Policy will be published on our chat-bot. </p>
                    
            
            
            </div>
                </div>
                <div class="w3-panel"></div>
                <br>
                
                <div  style="background-color: #ffffff;">
                    <h1 class="section-header">9. THIRD-PARTY LINKS</h1>
                    <div class="section1 w3-panel">
                
                
                        <p class="paragraph-left">This website may include links to third-party websites. Clicking on those links may allow third parties to collect or share data about you. We do not control these third-party websites and are not responsible for their privacy statements. When you leave our website, we encourage you to read the privacy notice of every website you visit.</p>
                        
                
                
                </div>
            </div>
            <div class="w3-panel"></div>
            <br>
            
            <div  style="background-color: #ffffff;">
                <h1 class="section-header">10. YOUR LEGAL RIGHTS</h1>
                <div class="section1 w3-panel">
            
            
                    <p class="paragraph-left">Under certain circumstances, you have rights under data protection laws in relation to your personal data:
                        Request access to your personal data – This enables you to receive a copy of the personal data we collected about you and to check that we are lawfully processing it. 
                        Request erasure of your personal data – You can ask us to delete or remove your personal data where there is no good reason for us continuing to process it.  
                        If you wish to exercise any of your above rights please contact us.  
                        </p>
                    
            
            
            </div>
                </div>
                <div class="w3-panel"></div>
                <br>
                
                <div  style="background-color: #ffffff;">
                    <h1 class="section-header">11. DATA RELATED CONCERNS</h1>
                    <div class="section1 w3-panel">
                
                
                        <p class="paragraph-left">We always aim to be clear and transparent with our customers. If you have a concern in relation to how we use your personal data, please contact us. 
                            You have the right to make a complaint at any time to the Commissioner for Personal Data (“CPD”), the Cypriot supervisory authority for data protection issues. We would, however, appreciate the chance to deal with your concerns before you approach the CPD so please contact us in the first instance.
                            
                            </p>
                        
                
                
                </div>
                    </div>
                    <div class="w3-panel"></div>
                    <br>
                    
                    <div  style="background-color: #ffffff;">
                        <h1 class="section-header">12. CONTACT INFORMATION</h1>
                        <div class="section1 w3-panel">
                    
                    
                            <p class="paragraph-left">Innaton Technologies Ltd.
                                Modestou Panteli, 4, Egkomi
                                2407, Nicosia, Cyprus
                                
                                Email - info@covid-bot.com and info@innaton.com 
                                </p>
                            
                    
                    
                    </div>
                        </div>

    
           
                  
<footer class="footer-distributed">
        
    <div class="footer-left">

        <h3>Covid-bot</h3>

        <p class="footer-links">
            <a href="/" class="link-1">Home</a>
            
            <a href="https://www.gofundme.com/your-covid19-personal-assistant" target="_blank">Support Us</a>
        
            <a href="/privacy">Privacy Policy</a>
            <a href="/cookies">Cookies Policy</a>
        </p>

        <p class="footer-company-name">Innaton Technologies Ltd. © 2020</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>Virtual due to COVID-19 outbreak</p>
        </div>

     

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:info@covid-bot.com">info@covid-bot.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Covid-bot</span>
            AI powered chatbot that answers all COVID-19 questions.
        </p>

        <div class="footer-icons">

      <!--    <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a> -->

        </div>

    </div>

</footer>        
<!-- End of footer -->


<div class="bgoverlay"></div>

<!-- Import extra JS -->

<script src="static/jquery.min.js"></script>
<!-- Popper.JS integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous" -->
<script src="static/popper.min.js" ></script>
<!-- Bootstrap JS integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"  crossorigin="anonymous"-->
<script src="static/bootstrap.min.js" ></script>
<!-- jQuery Custom Scroller CDN -->
<script src="static/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- /Import JS code -->

<!-- Extra custom JS code -->
<script src="static/home.js?1002"></script>
                 
                  
                  
      
       
   

    <script type="text/javascript">


        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .bgoverlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.bgoverlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.bgoverlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>



</body>

</html>

